#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=ens192 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=Centos7

# Root password
rootpw --iscrypted $6$D0plG6nK0ZcCK7QY$8rOP2UH8BmNDtyAO4SoT2LcExRo8/p3DhrM5dqnGl3KkZoB2v62u5/7doVaErIUfXeC3o4jJ/XuG7uIhIN.mj/
# System timezone
timezone America/New_York --isUtc
user --name=cechuser --password=$6$rLy8gDC1V2x/znMD$OjTo.jHFDG.ivYovWwlG9Yk6vrf46J1.oDJB9M/oIe4Ca.QjT3bNjkxk7RveaVGlAVFlBSnGdi7MECHlIKXWx1 --iscrypted --gecos="CECHUser"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
